<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${article.title}">Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">1M Signal Media</a>
        </div>
        <form action="#" th:action="@{/search}" method="get" class="navbar-form navbar-left">
            <div class="form-group">
                <input name="q" id="q" type="search" class="form-control" placeholder="Search 1M Signal"/>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
</nav>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <dt>
                <span th:text="${article.title}">Title</span> by
                <span th:text="${article.source}">Source</span>
                (Published: <span th:text="${article.published}">published</span>)
            </dt>
        </div>
        <div class="panel-body">
            <dd class="bookDescription">
                <span th:if="${article.content}"
                      th:text="${article.content}">Content</span>
                <span th:if="${article.content eq null}">No content available</span>
            </dd>
        </div>
    </div>
</div>

<div class="alert alert-danger" align="center" style="margin-top: 5%;">
    <strong>Emre BOZKURT</strong><br/>
    <a href="http://youtube.com/javaca" target="_blank">YouTube</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>