<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>1M Signal News Dataset</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <style>
        ul li {
            display: inline;
        }

        .back-to-top {
            cursor: pointer;
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none;
        }

        a:hover {
            text-decoration: none;
        }

        mark {
            background-color: yellow;
        }
    </style>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">1M Signal Media</a>
        </div>
        <form action="#" th:action="@{/search}" method="get" class="navbar-form navbar-left">
            <div class="form-group">
                <input name="q" id="q" type="search" class="form-control" placeholder="Search 1M Signal"/>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <h4 class="navbar-text"><span th:text="${page.getTotalElements()}"></span> results found</h4>
        <button data-toggle="collapse" class="btn btn-warning navbar-btn " data-target="#filter">See Filters</button>
    </div>
</nav>

<div class="container" style="margin-bottom: 1%">
    <div id="filter" class="collapse">
        <form action="#" th:action="@{${'/search/filter'}(q=${query})}" method="post">
            <p class="checkbox" th:each="facet : ${faceted.getFacetResultPage('source')}">
                <input type="checkbox" th:text="${facet.getValue()}" th:value="${facet.getValue()}" name="fq"
                       th:checked="${fquery.contains(facet.getValue())}"/>
                <span class="badge" th:text="${facet.getValueCount()}"></span>
            </p>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a type="button" class="btn btn-danger" th:href="@{${'/search'}(q=${query})}">Clear</a>
        </form>
    </div>
</div>

<div class="container context">
    <dl th:each="article : ${page.content}">
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" th:attr="data-target='#'+${article.id}">
                <dt>
                    <span th:text="${article.title}">Title</span> by
                    <span th:text="${article.source}">Source</span>
                    (Published: <span th:text="${article.published}">published</span>)
                </dt>
            </div>
            <div class="panel-body">
                <div th:id="${article.id}" class="collapse">
                    <a th:href="@{'/news/'+${article.id}(q=${query})}" target="_blank">
                        <dd>
                            <span th:if="${article.content}" th:text="${article.content}">Content</span>
                            <span th:if="${article.content eq null}">No content available</span>
                        </dd>

                        <div class="alert alert-success" style="margin-top: 5%">
                            <dl th:each="highlight : ${highlighted.getHighlighted()}">
                                <span th:if="${article.id eq highlight.getEntity().getId()}">
                                    <span th:each="hl : ${highlight.getHighlights()}">
                                        <dl th:utext="${hl.getSnipplets()}">Snippet</dl>
                                    </span>
                                </span>
                            </dl>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </dl>
</div>

<ul class="pager">
    <li>
        <a th:if="${pageable.getPageNumber() ne 0}" th:href="@{${'/search/filter'}(q=${query},fq=${fquery},page=0)}">First</a>
    </li>
    <li class="disabled">
        <a th:if="${pageable.getPageNumber() eq 0}" href="javascript:void(0);">First</a>
    </li>

    <li>
        <a th:if="${pageable.hasPrevious()}"
           th:href="@{${'/search/filter'}(q=${query},fq=${fquery},page=${pageable.getPageNumber()-1})}">Previous</a>
    </li>
    <li class="disabled">
        <a th:if="${pageable.hasPrevious() eq false}" href="javascript:void(0);">Previous</a>
    </li>

    <li class="disabled">
        <span th:text="${pageable.getPageNumber()}+1+' / '+${page.getTotalPages()}"></span>
    </li>

    <li>
        <a th:if="${pageable.getPageNumber() lt page.getTotalPages()-1}"
           th:href="@{${'/search/filter'}(q=${query},fq=${fquery},page=${pageable.getPageNumber()+1})}">Next</a>
    </li>
    <li class="disabled">
        <a th:if="${pageable.getPageNumber() eq page.getTotalPages()-1}" href="javascript:void(0);">Next</a>
    </li>

    <li>
        <a th:if="${pageable.getPageNumber() ne page.getTotalPages()-1}"
           th:href="@{${'/search/filter'}(q=${query},fq=${fquery},page=${page.getTotalPages()-1})}">Last</a>
    </li>
    <li class="disabled">
        <a th:if="${pageable.getPageNumber() eq page.getTotalPages()-1}" href="javascript:void(0);">Last</a>
    </li>
</ul>

<div class="row" style="margin-bottom: 5%">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <form action="#" th:action="@{${'/search/filter'}(q=${query},fq=${fquery})}" method="post">
            <div class="input-group">
                <input type="number" class="text-center form-control" placeholder="Enter page number" name="page"/>
                <span class="input-group-btn">
                    <button class="btn btn-secondary" onclick="pageControl(page)" type="submit">Go!</button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-xs-4"></div>
</div>

<a id="back-to-top" href="#" class="btn btn-primary btn-lg back-to-top" role="button"
   title="Click to return on the top page" data-toggle="tooltip" data-placement="left"><span
        class="glyphicon glyphicon-chevron-up"></span></a>

<div class="alert alert-danger" align="center">
    <strong>Emre BOZKURT</strong><br/>
    <a href="http://youtube.com/javaca" target="_blank">YouTube</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/mark.js/8.9.0/mark.min.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    function pageControl(item) {
        var pageNoText = item.value; // string
        var pageNo = parseInt(pageNoText);
        var maxPage = [[${page.getTotalPages()}]];
        var nowPage = [[${pageable.getPageNumber()}+1]];

        if (!(pageNo > 0)) {
            pageNo = nowPage;
        }

        if (!(pageNo < 1 + maxPage)) {
            pageNo = nowPage;
        }

        item.value = pageNo - 1;
    }
    /*]]>*/
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
    var que = [[${query}]];
    /*]]>*/

    var context = document.querySelector(".context");
    var instance = new Mark(context);
    instance.mark(que);
</script>

<script>
    $(document).ready(function () {
        $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('#back-to-top').tooltip('show');
    });
</script>
</body>
</html>