<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>1M Signal News Dataset</title>
</head>
<style>
    ul li {
        display: inline;
    }
</style>
<body>

<form action="#" th:action="@{/search}" method="get">

    Search 1M Signal:
    <input type="search" name="q" id="q"/>
    <input type="submit" value="Search"/>

</form>



<dl th:each="facet : ${page.getFacetResultPage('source')}">
    <input type="checkbox" th:text="${facet.getValue()} + ' (' + ${facet.getValueCount()} + ')'"/>
</dl>

<dl th:each="article : ${page.content}">
    <!--<a th:href="@{${'/news/'${article.id}}}" target="_blank">   PROBLEMMM  -->
        <dt class="bookHeadline">
            <span th:text="${article.title}">Title</span> by
            <span th:text="${article.source}">Source</span>
            (Published: <span th:text="${article.published}">published</span>)

        </dt>
    </a>

    <dd class="bookDescription">
          <span th:if="${article.content}"
                th:text="${article.content}">Content</span>
        <span th:if="${article.content eq null}">
                No content available</span>
    </dd>

    <dl th:each="highlight : ${page.getHighlights(article)}">
        <span th:utext="${highlight.getSnipplets()}">Snippet</span>
    </dl>

</dl>

<a th:if="${pageable.hasPrevious()}" th:href="@{${'/search'}(q=${query},page=${pageable.getPageNumber()-1})}">PREV</a>
<a th:href="@{${'/search'}(q=${query},page=${pageable.getPageNumber()+1})}">NEXT</a>

<ul>
    <li th:each="pageNo : ${#numbers.sequence(0, page.getTotalPages() - 1)}">
        <a th:if="${pageable.getPageNumber() eq pageNo}" href="javascript:void(0);">
            <span th:text="${pageNo + 1}"></span>
        </a>
        <a th:if="${not (pageable.getPageNumber() eq pageNo)}" th:href="@{${'/search'}(q=${query},page=${pageNo})}">
            <span th:text="${pageNo + 1}"></span>
        </a>
    </li>
</ul>

</body>
</html>